<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html ; charset='utf8'">
    <title>詳細住所選択</title>
</head>

<body>
    <h1>
            <%= city %>
       
    </h1>
    <form method="POST" action="/result">
        <% for(var key in data){%>
            <p>
                <label><input type="radio" name="msg" value="<%= key %>,<%=data[key]%>"><%=data[key]%></label>
            </p>
        
        <% } %>
        <input type="hidden" name="info" value="<%= city_hidden %>" >
        <input type="submit" value="送信">
    </form>

    

</body>

</html>